{% extends "layout.html" %}
{% block content %}
<section id="about" class="about-section bg-light">
    <div class="container p-5">
        <h3 class="text-center text-secondary mb-4">About EduWeb</h3>
        <div class="row">
            <div class="col-md-12">
                <p class="lead">EduWeb is an educational website where you can explore and learn various courses based on your interests. Whether you're looking to enhance your skills in programming, language learning, or any other subject, EduWeb offers a diverse range of courses to suit your needs.</p>
                <p class="mb-0">In addition to browsing courses, you can create an account on EduWeb to upload your own courses and share your knowledge with others. As an instructor, you have the opportunity to contribute to the platform's growing library of educational content and foster a collaborative learning environment.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}